# Ignore folder
.vscode
.venv
BS_Pleiadian_frequencies/
Pleiadian_frequencies/
frequency_analyser/
frequency_sweep/
# Ignore files
*.pyc
*.mp3
*.wav
*.png
*.csv
*.pdf

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
